<div class="container">
  <p>Cockpit component</p>
  <div class="card">
    <div class="card-header">Server</div>
    <div class="card-body">
      <h5 class="card-title">New Server</h5>
      <p class="card-text">This is a server</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Blueprint</div>
    <div class="card-body">
      <h5 class="card-title">New Blueprint</h5>
      <p class="card-text">This is a Blueprint</p>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col xs-12">
      <p>Add new servers or blueprints</p>
    </div>
  </div>
</div> -->
