<div class="container">
  <div class="row">
    <app-cockpit
      (emitServerCreated)="onServerAdded($event)"
      (emitBluePrintCreated)="onBluePrintAdded($event)"
    ></app-cockpit>
  </div>
  <div class="row">
    <!-- <app-servers *ngFor="let server of serverElements"> -->
    <!-- Bind the server element in the servers component and pass the server (the loop variable) to the element using property binding -->
    <!-- <app-servers
      *ngFor="let serverElement of serverElements"
      [element]="serverElement"
       ></app-servers
    > -->

    <app-servers
      *ngFor="let serverElement of serverElements"
      [serverElement]="serverElement"
    ></app-servers>
  </div>
</div>
